<mat-accordion multi>
    <mat-expansion-panel expanded
                         (expandedChange)="collapsed = !collapsed">
        <mat-expansion-panel-header>
            <mat-panel-title *ngIf="collapsed">
                Search:
                <span *ngrxLet="searchSectionTitle$; let title">
                    {{ title | strNotNullObjProps | replaceChars: ['"', ' ']}}
                </span>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <app-hero-search></app-hero-search>
    </mat-expansion-panel>
    <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
            <mat-panel-title>
                List of heroes
            </mat-panel-title>
        </mat-expansion-panel-header>
        <app-heroes></app-heroes>
    </mat-expansion-panel>
</mat-accordion>
