<div>
    <h1 class="dialog-title">{{confirmDialogData.title}}</h1>
    <mat-dialog-content>
        <p class="dialog-description">{{confirmDialogData.description}}</p>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-raised-button
                [color]="'accent'"
                [mat-dialog-close]="false">No
        </button>
        <button mat-raised-button
                [color]="'primary'"
                [mat-dialog-close]="true"
                cdkFocusInitial>Ok
        </button>
    </mat-dialog-actions>
</div>
