<mat-toolbar>
    <span>{{title}}</span>
    <span class="example-spacer"></span>
    <button *ngIf="!isAuthenticated"
            mat-raised-button
            [color]="'primary'"
            routerLink="/login">
        Login
        <mat-icon>login</mat-icon>
    </button>
    <button *ngIf="isAuthenticated"
            mat-raised-button
            [color]="'primary'"
            (click)="logout()">
        Logout
        <mat-icon>logout</mat-icon>
    </button>
</mat-toolbar>

<router-outlet></router-outlet>


